<html>
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial;
        font-size: 10px;
        /*  line-height: 12px; */
        font-weight: 400;
        color: #3b3b3b;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        /*  background: #2b2b2b; */
    }

    @media screen and (max-width: 200px) {
        body {
            font-size: 16px;
            line-height: 22px;
        }
    }

    /*.wrapper {
        margin: 0 auto;
        padding: 40px;
        max-width: 800px;
    }*/

    .table {
        width: 100%;
        /*  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
        display: table;
        border-collapse: collapse;
    }

    .m {
        margin: 0 0 10px 0;
    }

    @media screen and (max-width: 200px) {
        .table {
            display: block;
        }
    }

    .row {
        display: table-row;
        background: #f6f6f6;
    }

    .row:nth-of-type(odd) {
        background: #e9e9e9;
    }

    .row.header {
        font-weight: 900;
        /*color: #ffffff;
      background: #ea6153;*/
    }

    .row.green {
        background: #27ae60;
    }

    .row.blue {
        background: #2980b9;
    }

    @media screen and (max-width: 200px) {
        .row {
            /*      padding: 14px 0 7px; */
            display: block;
        }
        .row.header {
            padding: 0;
            height: 6px;
        }
        .row.header .cell {
            display: none;
        }
        .row .cell {
            margin-bottom: 10px;
        }
        .row .cell:before {
            margin-bottom: 3px;
            content: attr(data-title);
            min-width: 98px;
            font-size: 10px;
            line-height: 10px;
            font-weight: bold;
            text-transform: uppercase;
            color: #969696;
            display: block;
        }
    }

    .cell {
        /*  padding: 3px 5px; */
        display: table-cell;
        border: 1px solid #dadada;
    }

    @media print {
        .cell {
            /*      padding: 3px 5px; */
            display: table-cell;
            border: 1px solid #eee;
        }
    }

    @media screen and (max-width: 200px) {
        .cell {
            /*      padding: 2px 16px; */
            display: block;
            border: 1px solid #dadada;
        }
    }

    /* .table-header { */
    /*  padding: 10px; */
    /*  font-weight: 900; */
    /*  color: #ffffff; */
    /*  background: #2980b9; */
    /*  display: table-caption; */
    /* } */
    .title {
        display: table-caption;
        /*  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
        padding: 2px 5px;
        font-weight: 900;
        color: #ffffff;
        background: #2980b9;
    }
    @media print {
        .title {
            color: #000;
        }
    }
    .b {
        font-weight: 900;
    }

    .innertable{
        display: table;
        width: 100%;
    }
    .innertable .row {
        display: table-row;
        background-color: transparent;
        border-bottom: 1px solid #dadada;
    }
    .innertable .cell {
        /*  padding: 3px 5px; */
        display: table-cell;
        border: none;
    }
    .innertable .cell.b{
        width: 25%;
        border-right: 1px solid #dadada;
        padding: 0 0 0 5px;
    }

    @page {
        size: A4;
        margin: 0;
    }

    @media print {
        html, body {
            width: 115mm;
            height: 297mm;
        }
    }

</style>

<body>
<div class="wrapper">
    <!-- style="width: 65%; float: left;" -->
    <div class="table m">
        <div class="title">Tarih/Döküman Bilgileri</div>
        <div class="row header">
            <div class="cell">Tarih</div>
            <div class="cell">Tutanak/Döküman No</div>
        </div>
        <div class="row">
            <div class="cell">$date.format("dd-MM-yyyy", $documentDTO.date)</div>
            <div class="cell">$documentDTO.number</div>
        </div>
    </div>

    <div class="table m">
        <div class="title"> » Paydaş</div>
        <div class="row header">
            <div class="cell">Adı Soyadı</div>
            <div class="cell">TC Kimlik No</div>
            <div class="cell">Telefon</div>
        </div>
        <div class="row">
            <div class="cell">$userDTO.name $userDTO.surname</div>
            <div class="cell">$userDTO.tckn</div>
            <div class="cell">$userDTO.phone</div>
        </div>
    </div>

    <div class="table m">
        <div class="title"> » Taraflar</div>
        <div class="row header">
            <div class="cell">Türü</div>
            <div class="cell">Adı Soyadı</div>
            <div class="cell">Ünvanı</div>
            <div class="cell">TC Kimlik No</div>
            <div class="cell">İmza</div>
        </div>

        #foreach( $location in $locations )
            <div class="row">
                <div class="cell">$type</div>
                <div class="cell">$name $surname</div>
                <div class="cell">$title</div>
                <div class="cell">$tckn</div>
                <div class="cell">$sign</div>
            </div>
        #end


    </div>

    <!-- 		<div style="width: 25%; float: right;"> -->
    <!-- 			<div>Tarih</div> -->
    <!-- 			<div>$date</div> -->

    <!-- 			<div>Tutanak No / Döküman No</div> -->
    <!-- 			<div>$documentNumber</div> -->
    <!-- 		</div> -->

    <div class="table m">
        <div class="title"> » Lokasyon</div>
        <div class="row header">
            <div class="cell">Mahalle</div>
            <div class="cell">Cadde</div>
            <div class="cell">Sokak</div>
            <div class="cell">No</div>
            <div class="cell">Ada</div>
            <div class="cell">Pafta</div>
            <div class="cell">Parsel</div>
        </div>

        <div class="row">
            <div class="cell">$locationDTO.mahalle</div>
            <div class="cell">$locationDTO.cadde</div>
            <div class="cell">$locationDTO.sokak</div>
            <div class="cell">$locationDTO.no</div>
            <div class="cell">$locationDTO.ada</div>
            <div class="cell">$locationDTO.pafta</div>
            <div class="cell">$locationDTO.parsel</div>
        </div>

    </div>

    <div class="table m">
        <div class="title"> » Ek Bilgiler</div>
        #foreach( $informationDTO in $informationDTOs )
            <div class="row">
                <div class="cell" style="width: 50%">
                    <div class="innertable">
                        <div class="row">
                            <div class="cell b">Ek Bilgi</div>
                            <div class="cell">$informationDTO.info</div>
                        </div>
                        <div class="row">
                            <div class="cell b">Değer</div>
                            <div class="cell">$informationDTO.value</div>
                        </div>
                        <div class="row">
                            <div class="cell b">Açıklama</div>
                            <div class="cell">$informationDTO.description</div>
                        </div>
                    </div>
                </div>
            </div>
        #end
    </div>

    <div class="table m">
        <div class="title"> » Tespitler</div>
        #foreach( $tespitDTO in $reportTespitDTOs )
            <div class="row">
                <div class="cell" style="width: 50%">
                    <div class="innertable">
                        <div class="row">
                            <div class="cell b">Açıklamalar</div>
                            <div class="cell">$tespitDTO.tespitAciklamasi</div>
                        </div>
                        <div class="row">
                            <div class="cell b">Açıklama</div>
                            <div class="cell">$tespitDTO.aciklama</div>
                        </div>
                        <div class="row">
                            <div class="cell b">Dayanak Kanunu</div>
                            <div class="cell">$tespitDTO.dayanakKanunu</div>
                        </div>
                        <div class="row">
                            <div class="cell b">Değer</div>
                            <div class="cell">$tespitDTO.deger</div>
                        </div>
                    </div>
                </div>
            </div>
        #end
    </div>

</div>
</body>
</html>


