<html>
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial;
        font-size: 15px;
        /*  line-height: 12px; */
        font-weight: 400;
        color: #3b3b3b;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        /*  background: #2b2b2b; */
    }



    /*.wrapper {
        margin: 0 auto;
        padding: 40px;
        max-width: 800px;
    }*/

    .table {
        width: 100%;
        /*  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
        display: table;
        border-collapse: collapse;
    }

    .m {
        margin: 0 0 10px 0;
    }



    .row {
        display: table-row;
        background: #f6f6f6;
    }

    .row:nth-of-type(odd) {
        background: #e9e9e9;
    }

    .row.header {
        font-weight: 600;
        /*color: #ffffff;
      background: #ea6153;*/
    }

    .row.green {
        background: #27ae60;
    }

    .row.blue {
        background: #ffffff;
    }



    .cell {
        /*  padding: 3px 5px; */
        display: table-cell;
        border: 1px solid #dadada;
    }



    /* .table-header { */
    /*  padding: 10px; */
    /*  font-weight: 900; */
    /*  color: #ffffff; */
    /*  background: #2980b9; */
    /*  display: table-caption; */
    /* } */
    .title {
        display: table-caption;
        /*  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
        padding: 2px 5px;
        font-weight: 600;
        color: #000000;
        border: 2px solid;
        background: #ffffff;
    }

    .b {
        font-weight: 600;
    }

    .innertable{
        display: table;
        width: 100%;
    }
    .innertable .row {
        display: table-row;
        background-color: transparent;
        border-bottom: 1px solid #dadada;
    }
    .innertable .cell {
        /*  padding: 3px 5px; */
        display: table-cell;
        border: none;
    }
    .innertable .cell.b{
        width: 25%;
        border-right: 1px solid #dadada;
        padding: 0 0 0 5px;
    }

    @page {
        size: A4;
        margin: 0;
    }


    .kolon1 {
        float: left;
        width: 30%;
    }

    .kolon2 {
        float: left;
        width: 70%;
    }

    .satir:after {
        content: "";
        display: table;
        clear: both;
    }

</style>

<body>
<div class="wrapper">
    <!-- style="width: 65%; float: left;" -->
    <div class="satir">
        <div class="kolon1">
            <div class="logoHeader"><img border="0" alt="logo"  src="data:image/png;base64,$logoBase64"/></a></td></div>
        </div>
        <div class="kolon2">
            <h3>BAŞAKŞEHIR BELEDIYESİ</h3>
            <h3>CEZA TUTANAĞI</h3>
        </div>
    </div>

    <div class="table m">
        <div class="title">Tarih/Döküman Bilgileri</div>
        <div class="row header">
            <div class="cell">Tarih</div>
            <div class="cell">Tutanak/Döküman No</div>
        </div>
        #if ($documentDTO)
            <div class="row">
                <div class="cell">$documentDTO.dateString</div>
                <div class="cell">$documentDTO.number</div>
            </div>
        #end
    </div>

    <div class="table m">
        <div class="title"> » Lokasyon</div>
        <div class="row header">
            <div class="cell">İlçe</div>
            <div class="cell">Mahalle</div>
            <div class="cell">Sokak</div>
            <div class="cell">Daire</div>
            <div class="cell">Kapı</div>
        </div>

        #if ($locationDTO)
            <div class="row">
                <div class="cell">$locationDTO.ilceAdi</div>
                <div class="cell">$locationDTO.mahalleAdi</div>
                <div class="cell">$locationDTO.sokakAdi</div>
                <div class="cell">$locationDTO.daireBilgisi</div>
                <div class="cell">$locationDTO.kapiBilgisi</div>
            </div>
        #end

    </div>

    <div class="table m">
        <div class="title"> » Paydaş</div>
        <div class="row header">
            <div class="cell">Taraf Türü</div>
            <div class="cell">Adı Soyadı</div>
            <div class="cell">TC Kimlik No</div>
        </div>
        #if ($userDTO)
            <div class="row">
                <div class="cell">$userDTO.tarafTuru</div>
                <div class="cell">$userDTO.adiSoyadi</div>
                <div class="cell">$userDTO.tckn</div>
            </div>
        #end
    </div>

    <div class="table m">
        <div class="title"> » Ek Bilgiler </div>
        #foreach( $ekBilgiDTO in $reportEkBilgiDTOs )
            <div class="row">
                <div class="cell" style="width: 50%">
                    <div class="innertable">
                        <div class="row">
                            <div class="cell b">Konu</div>
                            <div class="cell">$ekBilgiDTO.tespitAciklamasi</div>
                        </div>
                        <div class="row">
                            <div class="cell b">Değer</div>
                            <div class="cell">$ekBilgiDTO.deger</div>
                        </div>
                        #if ($ekBilgiDTO.aciklama)
                            <div class="row">
                                <div class="cell b">Açıklama</div>
                                <div class="cell">$ekBilgiDTO.aciklama</div>
                            </div>
                        #end
                    </div>
                </div>
            </div>
        #end
    </div>

    <div class="table m">
        <div class="title"> » Tespitler</div>
        #foreach( $tespitDTO in $reportTespitDTOs )
            <div class="row">
                <div class="cell" style="width: 50%">
                    <div class="innertable">
                        <div class="row">
                            <div class="cell b">Konu</div>
                            <div class="cell">$tespitDTO.tespitAciklamasi</div>
                        </div>
                        <div class="row">
                            <div class="cell b">Dayanak Kanunu</div>
                            <div class="cell">$tespitDTO.dayanakKanunu</div>
                        </div>
                        <div class="row">
                            <div class="cell b">Değer</div>
                            <div class="cell">$tespitDTO.deger</div>
                        </div>
                        #if ($tespitDTO.aciklama)
                            <div class="row">
                                <div class="cell b">Açıklama</div>
                                <div class="cell">$tespitDTO.aciklama</div>
                            </div>
                        #end
                    </div>
                </div>
            </div>
        #end
    </div>

    <div class="table m">
        <div class="title"> » Taraflar</div>
        <div class="row header">
            <div class="cell">Taraf Türü</div>
            <div class="cell">Adı Soyadı</div>
            <div class="cell">Görevi</div>
            <div class="cell">İmza</div>
        </div>

        #foreach( $user in $belediyeUserDTOList )
            <div class="row">
                <div class="cell">$user.tarafTuru</div>
                <div class="cell">$user.adiSoyadi</div>
                <div class="cell">$user.gorevi</div>
                <div class="cell">  </div>
            </div>
        #end


    </div>

    <div class="table m">
        <div class="title"> » Tebliğ Bilgileri</div>
        <div class="row header">
            <div class="cell">Adı</div>
            <div class="cell">Soyadı</div>
            <div class="cell">TC Kimlik No</div>
            <div class="cell">İmza</div>
        </div>
        #if ($tebligEdilenBilgileri)
            <div class="row">
                <div class="cell">$tebligEdilenBilgileri.adi</div>
                <div class="cell">$tebligEdilenBilgileri.soyadi</div>
                <div class="cell">$tebligEdilenBilgileri.TCKimlikNo</div>
                <div class="cell"> </div>
            </div>
        #end
    </div>

</div>
</body>
</html>


